<div class="jombotron">


  <h1 <%= render @user %></h1>
  <br/>
</div>

  </br></br>
  <div class="row">
    <div class="col-xs-6">
      <%= button_to "Remove this User", {action: "remove" }, method: :delete, data: {confirm: "Are you sure you want to remove this user?" }, class: "btn btn-danger mr-2" %>
    </div>
    <% if @user.admin %>
    <div class="col-xs-6">
      <%= button_to "Remove as Admin", {action: "remove_admin" }, method: :put, class: "btn btn-primary" %>
    </div>
    <% else %>
    <div class="col-xs-6">
      <%= button_to "Make Admin", {action: "admin" }, method: :put, class: "btn btn-success" %>
    </div>
    <% end %>
  </div>

